$color-red:#8a2d38;
$color-red2:#da4c4c;
$color-darkred:#8e0000;
$color-dark2:#1e130b;
$color-navydark:#252a38;
$color-darknavy:#1b1e25;
$color-navy:#2a3040;
$color-lightgray:#ebeef2;
$color-lightgray2:#f0f0f0;
$color-gray2:#f0f0f0;
$color-blue2:#0080bb;
$color-blue3:#208cbd;
$color-blue4:#0080bc;
// BASIC
$color-white:#fff;
$color-black:#000;
$color-gray:#676868;
$color-blue:#17268a;
$color-dark:#333333;
$color-primary:$color-dark;
$color-secondary:$color-red;
$color-third:$color-blue;
// $color-primary:$color-blue;
// $color-secondary:$color-dark;
// $color-third:$color-dark2;