$font-primary: 'Open Sans',
sans-serif;
$font-secondary: 'Raleway',
sans-serif;
$weight-bold:bold;
$weight-extrabold:800;
$weight-semibold:600;
$weight-light:300;
$weight-normal:normal;
@font-face {
    font-family: 'Open Sans';
    src: url('../../public/fonts/OpenSans-Light.eot');
    src: url('../../public/fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'), url('../../public/fonts/OpenSans-Light.woff2') format('woff2'), url('../../public/fonts/OpenSans-Light.woff') format('woff'), url('../../public/fonts/OpenSans-Light.ttf') format('truetype'), url('../../public/fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../public/fonts/OpenSans-SemiBold.eot');
    src: url('../../public/fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'), url('../../public/fonts/OpenSans-SemiBold.woff2') format('woff2'), url('../../public/fonts/OpenSans-SemiBold.woff') format('woff'), url('../../public/fonts/OpenSans-SemiBold.ttf') format('truetype'), url('../../public/fonts/OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../public/fonts/OpenSans-Regular.eot');
    src: url('../../public/fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('../../public/fonts/OpenSans-Regular.woff2') format('woff2'), url('../../public/fonts/OpenSans-Regular.woff') format('woff'), url('../../public/fonts/OpenSans-Regular.ttf') format('truetype'), url('../../public/fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../public/fonts/OpenSans-Bold.eot');
    src: url('../../public/fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('../../public/fonts/OpenSans-Bold.woff2') format('woff2'), url('../../public/fonts/OpenSans-Bold.woff') format('woff'), url('../../public/fonts/OpenSans-Bold.ttf') format('truetype'), url('../../public/fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../public/fonts/OpenSans-SemiBold.eot');
    src: url('../../public/fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'), url('../../public/fonts/OpenSans-SemiBold.woff2') format('woff2'), url('../../public/fonts/OpenSans-SemiBold.woff') format('woff'), url('../../public/fonts/OpenSans-SemiBold.ttf') format('truetype'), url('../../public/fonts/OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../public/fonts/OpenSans-Bold.eot');
    src: url('../../public/fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('../../public/fonts/OpenSans-Bold.woff2') format('woff2'), url('../../public/fonts/OpenSans-Bold.woff') format('woff'), url('../../public/fonts/OpenSans-Bold.ttf') format('truetype'), url('../../public/fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../public/fonts/OpenSans-Light.eot');
    src: url('../../public/fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'), url('../../public/fonts/OpenSans-Light.woff2') format('woff2'), url('../../public/fonts/OpenSans-Light.woff') format('woff'), url('../../public/fonts/OpenSans-Light.ttf') format('truetype'), url('../../public/fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../public/fonts/OpenSans-ExtraBold.eot');
    src: url('../../public/fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../../public/fonts/OpenSans-ExtraBold.woff2') format('woff2'), url('../../public/fonts/OpenSans-ExtraBold.woff') format('woff'), url('../../public/fonts/OpenSans-ExtraBold.ttf') format('truetype'), url('../../public/fonts/OpenSans-ExtraBold.svg#OpenSans-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../../public/fonts/Raleway-SemiBold.eot');
    src: url('../../public/fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'), url('../../public/fonts/Raleway-SemiBold.woff2') format('woff2'), url('../../public/fonts/Raleway-SemiBold.woff') format('woff'), url('../../public/fonts/Raleway-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../../public/fonts/Raleway-Light.eot');
    src: url('../../public/fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'), url('../../public/fonts/aleway-Light.woff2') format('woff2'), url('../../public/fonts/Raleway-Light.woff') format('woff'), url('../../public/fonts/Raleway-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../../public/fonts/Raleway-SemiBoldItalic.eot');
    src: url('../../public/fonts/Raleway-SemiBoldItalic.eot?#iefix') format('embedded-opentype'), url('../../public/fonts/Raleway-SemiBoldItalic.woff2') format('woff2'), url('../../public/fonts/Raleway-SemiBoldItalic.woff') format('woff'), url('../../public/fonts/Raleway-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('../../public/fonts/Raleway-Regular.eot');
    src: url('../../public/fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'), url('../../public/fonts/Raleway-Regular.woff2') format('woff2'), url('../../public/fonts/Raleway-Regular.woff') format('woff'), url('../../public/fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../../public/fonts/Raleway-Bold.eot');
    src: url('../../public/fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'), url('../../public/fonts/Raleway-Bold.woff2') format('woff2'), url('../../public/fonts/Raleway-Bold.woff') format('woff'), url('../../public/fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../../public/fonts/Raleway-Medium.eot');
    src: url('../../public/fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'), url('../../public/fonts/aleway-Medium.woff2') format('woff2'), url('../../public/fonts/Raleway-Medium.woff') format('woff'), url('../../public/fonts/Raleway-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../../public/fonts/Raleway-ExtraBold.eot');
    src: url('../../public/fonts/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../../public/fonts/Raleway-ExtraBold.woff2') format('woff2'), url('../../public/fonts/Raleway-ExtraBold.woff') format('woff'), url('../../public/fonts/Raleway-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}