.btn {
    &--primary {
        background: $color-secondary;
        padding: 12px 48px;
        font-weight: 600;
        font-size: 1em;
        line-height: 30px;
        color: $color-white;
        display: inline-block;
        @include transition(.1s);
        position: relative;
        border-radius: 0;
        @include box-shadow;
        text-transform: uppercase;
        &:before {
            position: absolute;
            content: '';
            left: -31px;
            top: -1px;
            border-right: 20px solid $color-secondary;
            border-top: 56px solid transparent;
            border-left: 10px solid transparent;
            display: block;
        }
        &:after {
            position: absolute;
            content: '';
            /* width: 20px; */
            /* height: 56px; */
            /* background: #f99; */
            right: -31px;
            top: -1px;
            border-left: 20px solid $color-secondary;
            border-bottom: 56px solid transparent;
            border-right: 10px solid transparent;
            display: block;
        }
        &:hover {
            color: $color-white;
            @include transform_translate(15px, 0);
            &:before {}
            &:after {
                border-left: 20px solid $color-secondary;
            }
        }
    }
    &--secondary {
        background: $color-white;
        padding: 12px 48px;
        font-weight: 600;
        font-size: 1em;
        line-height: 30px;
        color: $color-third !important;
        display: inline-block;
        @include transition(.1s);
        position: relative;
        border-radius: 0;
        @include box-shadow;
        text-transform: uppercase;
        &:before {
            position: absolute;
            content: '';
            left: -31px;
            top: -1px;
            border-right: 20px solid $color-white;
            border-top: 56px solid transparent;
            border-left: 10px solid transparent;
            display: block;
        }
        &:after {
            position: absolute;
            content: '';
            right: -31px;
            top: -1px;
            border-left: 20px solid $color-white;
            border-bottom: 56px solid transparent;
            border-right: 10px solid transparent;
            display: block;
        }
        &:hover {
            color: $color-third;
            @include transform_translate(15px, 0);
            &:before {}
        }
    }
    &--get-quote {
        background: $color-secondary;
        padding: 12px 48px;
        font-weight: 600;
        font-size: 1em;
        line-height: 30px;
        color: $color-white !important;
        display: inline-block;
        @include transition(.1s);
        position: relative;
        border-radius: 0;
        @include box-shadow;
        text-transform: uppercase;
        margin-left: 40px;
        position: relative;
        top: -8px;
        z-index: 9999;
        &:before {
            position: absolute;
            content: '';
            left: -31px;
            top: -1px;
            border-right: 20px solid $color-secondary;
            border-top: 56px solid transparent;
            border-left: 10px solid transparent;
            display: block;
        }
        &:after {
            position: absolute;
            content: '';
            /* width: 20px; */
            /* height: 56px; */
            /* background: #f99; */
            right: -31px;
            top: -1px;
            border-left: 20px solid $color-secondary;
            border-bottom: 56px solid transparent;
            border-right: 10px solid transparent;
            display: block;
        }
        &:hover {
            color: $color-white;
            @include transform_translate(15px, 0);
        }
    }
}