.flex {
    @include flex;
    @include flex-justify-content(center);

    &--col4 {        
        width: calc(100%/4);        
    }

    &--col3 {        
        width: calc(100%/3);        
    }

    &--col2 {        
        width: calc(100%/2);        
    }
}